* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}
.icon-buscador {
    display: inline-block;
    width: 24px;
    height: 24px;
}

header {
    height: 8vh;
    display: flex;
    flex-direction:column;
    align-items: end;
}

header li {
    list-style-type: none;
    float: left;
    padding: 8px;
}


#left{
    float: left;
    padding: 0px; 
}
#right{
    float:right;
    padding: 0px;  
}
ul {
    list-style-type: none;
}
/*Esto es para todas las listas DENTRO de un li */
ul li {
    display: inline;
    padding: 4px;
}

header ul li {
    display: inline;
    padding: 4px;
}
footer ul {
    display: inline-block;
    margin:15px 12px;
}
footer ul li {
    display: inline;
    padding: 15px;
}
p {
    display: inline;
    padding: 8px 0px 0px 10px;
}

main{
    height: 77vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
   /*argin-top: 150px;*/
}

footer{
    height: 14.8vh;
    width: 207.5vh;
    background-color: #f2f2f2; 
    color:rgb(134, 132, 132);
    align-items: flex-end;
    /*}}padding: 10px 0px 50px;
    margin-top: 125px;*/
}

.btn-buscador{
    border: black solid 1px;
}

#input-buscador{
    outline: none;
    border: none;
}