* {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display:block;
}

header ul li {
    display: inline-block;
    padding: 4px;
}


header {
    display:flex;
    height: 8vh;
    flex-direction: column;
    align-items: end;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 13px;
}

body{
    padding: 0px;
    margin: 0px;
}

main {
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-buscador{
    /*
    usamos display inline block porque queremos que estén pegaditos la parte de inline y block para que las propiedades de width y heigth sigan haciend efecto y hagn mi icono pequeño
    */
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 10px 10px;
}

.btn-buscador{
    border: #d5d0d0 solid 1px;
    border-radius: 25px;
    flex: 1; /* El input se expandirá para ocupar todo el espacio restante */
    padding: 3px;
    outline: none;
    box-sizing: border-box;
    width: 110%;
    align-items: center;
    display: flex;
}

.logo{
    align-content: center;
    justify-content: center;
}

#input-buscador {
    flex: 1; /* El input se expandirá para ocupar todo el espacio restante */
    padding: 9px;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 150%;
    justify-content: center;
} 
hr {
    border-color: #ffffff;
    background-color:#848080 ;
}

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.logo-google {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.acceso {
    background-color: #1a73e8;
    border: 1px solid transparent;
    color:white;
    display: flex;
    padding: 7px 18px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 2.5px; 
}

.gb_d{
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

#botones-google{
    display: flex;
    justify-content: center;
}

.lupa{
    display: flex;
}

.gb_h {
    display: flex;
    align-items: end;
    margin-top: 2px;
}

@media(max-width:500px){
    body{
             background-color:#ffffff;
    } 
}

footer ul {
    display: flex;
    margin: 8px 9px;
}

footer ul li {
    display: inline;
    padding: 4px;
}
footer {
    background-color: #f2f2f2; 
    height: 18vh;
    color:#848080;
}

footer ul li a{
    color: #70757a;
    display: flex;
}

.footer-elements{
    display: flex;
    justify-content: space-between;
}

.footer-right{
    justify-content: right;
}

.footer-left{
    justify-content: left;
}

.preferences-enlace {
    cursor: pointer;
  }
li {
    position: relative;
}
  .preferens-list {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 210px;
    z-index: 1;
    bottom: 100%;
    left: -94%;
    list-style-type: none;
    margin: 0;
    font-size: 14px;
    max-width: 1000px;
  }
  
  .preferens-list a {
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .preferens-list a:hover {
    background-color: #eee;
  }
  
  .footer-right{
    justify-content: right;
  }


.footer-left ul,
.footer-right ul {
  list-style-type: none;
  padding: 0;
}

.footer-left li,
.footer-right li {
  display: inline-block;
  margin: 0 10px;
align-items: flex-start;
}
.footer-elements{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Comportamiento del link cuando el mouse está encima*/
a:hover {
    text-decoration: underline;
}

/*Comportamiento del link el resto del tiempo*/
a:link {
    text-decoration: none;
    /*colores*/
    color:rgba(0,0,0,.87);
}

/*Comportamiento del link cuando el link fue visitado*/
a:visited {
    text-decoration: none;
    /*colores*/
    color:rgba(0,0,0,.87);
}